/Animal.class
/Cat.class
/Dog.class
/Bird.class
/Zoo.class
/Employee.class
/Manager.class
/Developer.class
/Intern.class
/Office.class
/Car.class
/MotorCycle.class
/ShowRoom.class
/Truck.class
/Vehicle.class
/Author.class
/Bank.class
/BankAccount.class
/Book.class
/CheckingAccount.class
/Course.class
/DeliveredOrder.class
/Device.class
/FixedDepositAccount.class
/Home.class
/Library.class
/OnlineCourse.class
/Order.class
/PaidOnlineCourse.class
/Person.class
/Product.class
/SavingsAccount.class
/ShippedOrder.class
/Staff.class
/Student.class
/Students.class
/Teacher.class
/Thermostat.class
